body{
    background-color: #000;
}

h2, h4, p {
    color: #fff;
}


.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #2ecc71,25vw -41vh 0px 0px #2ecc71,-20vw 49vh 0px 1px #2ecc71,5vw 40vh 1px 1px #2ecc71,29vw 19vh 1px 0px #2ecc71,-44vw -13vh 0px 0px #2ecc71,46vw 41vh 0px 1px #2ecc71,-3vw -45vh 0px 1px #2ecc71,47vw 35vh 1px 0px #2ecc71,12vw -8vh 1px 0px #2ecc71,-34vw 48vh 1px 1px #2ecc71,32vw 26vh 1px 1px #2ecc71,32vw -41vh 1px 1px #2ecc71,0vw 37vh 1px 1px #2ecc71,34vw -26vh 1px 0px #2ecc71,-14vw -49vh 1px 0px #2ecc71,-12vw 45vh 0px 1px #2ecc71,-44vw -33vh 0px 1px #2ecc71,-13vw 41vh 0px 0px #2ecc71,-36vw -11vh 0px 1px #2ecc71,-23vw -24vh 1px 0px #2ecc71,-38vw -27vh 0px 1px #2ecc71,16vw -19vh 0px 0px #2ecc71,28vw 33vh 1px 0px #2ecc71,-49vw -4vh 0px 0px #2ecc71,16vw 32vh 0px 1px #2ecc71,36vw -18vh 1px 0px #2ecc71,-25vw -30vh 1px 0px #2ecc71,-23vw 24vh 0px 1px #2ecc71,-2vw -35vh 1px 1px #2ecc71,-25vw 9vh 0px 0px #2ecc71,-15vw -34vh 0px 0px #2ecc71,-8vw -19vh 1px 0px #2ecc71,-20vw -20vh 1px 1px #2ecc71,42vw 50vh 0px 1px #2ecc71,-32vw 10vh 1px 0px #2ecc71,-23vw -17vh 0px 0px #2ecc71,44vw 15vh 1px 0px #2ecc71,-40vw 33vh 1px 1px #2ecc71,-43vw 8vh 0px 0px #2ecc71,-48vw -15vh 1px 1px #2ecc71,-24vw 17vh 0px 0px #2ecc71,-31vw 50vh 1px 0px #2ecc71,36vw -38vh 0px 1px #2ecc71,-7vw 48vh 0px 0px #2ecc71,15vw -32vh 0px 0px #2ecc71,29vw -41vh 0px 0px #2ecc71,2vw 37vh 1px 0px #2ecc71,7vw -40vh 1px 1px #2ecc71,15vw 18vh 0px 0px #2ecc71,25vw -13vh 1px 1px #2ecc71,-46vw -12vh 1px 1px #2ecc71,-18vw 22vh 0px 0px #2ecc71,23vw -9vh 1px 0px #2ecc71,50vw 12vh 0px 1px #2ecc71,45vw 2vh 0px 0px #2ecc71,14vw -48vh 1px 0px #2ecc71,23vw 43vh 0px 1px #2ecc71,-40vw 16vh 1px 1px #2ecc71,20vw -31vh 0px 1px #2ecc71,-17vw 44vh 1px 1px #2ecc71,18vw -45vh 0px 0px #2ecc71,33vw -6vh 0px 0px #2ecc71,0vw 7vh 0px 1px #2ecc71,-10vw -18vh 0px 1px #2ecc71,-19vw 5vh 1px 0px #2ecc71,1vw 42vh 0px 0px #2ecc71,22vw 48vh 0px 1px #2ecc71,39vw -8vh 1px 1px #2ecc71,-6vw -42vh 1px 0px #2ecc71,-47vw 34vh 0px 0px #2ecc71,-46vw 19vh 0px 1px #2ecc71,-12vw -32vh 0px 0px #2ecc71,-45vw -38vh 0px 1px #2ecc71,-28vw 18vh 1px 0px #2ecc71,-38vw -46vh 1px 1px #2ecc71,49vw -6vh 1px 1px #2ecc71,-28vw 18vh 1px 1px #2ecc71,10vw -24vh 0px 1px #2ecc71,-5vw -11vh 1px 1px #2ecc71,33vw -8vh 1px 0px #2ecc71,-16vw 17vh 0px 0px #2ecc71,18vw 27vh 0px 1px #2ecc71,-8vw -10vh 1px 1px #2ecc71;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #2ecc71,-45vw -22vh 0px 0px #2ecc71,-37vw -40vh 0px 1px #2ecc71,29vw 19vh 0px 1px #2ecc71,4vw -8vh 0px 1px #2ecc71,-5vw 21vh 1px 1px #2ecc71,-27vw 26vh 1px 1px #2ecc71,-47vw -3vh 1px 1px #2ecc71,-28vw -30vh 0px 1px #2ecc71,-43vw -27vh 0px 1px #2ecc71,4vw 22vh 1px 1px #2ecc71,36vw 23vh 0px 0px #2ecc71,-21vw 24vh 1px 1px #2ecc71,-16vw 2vh 1px 0px #2ecc71,-16vw -6vh 0px 0px #2ecc71,5vw 26vh 0px 0px #2ecc71,-34vw 41vh 0px 0px #2ecc71,1vw 42vh 1px 1px #2ecc71,11vw -13vh 1px 1px #2ecc71,48vw -8vh 1px 0px #2ecc71,22vw -15vh 0px 0px #2ecc71,45vw 49vh 0px 0px #2ecc71,43vw -27vh 1px 1px #2ecc71,20vw -2vh 0px 0px #2ecc71,8vw 22vh 0px 1px #2ecc71,39vw 48vh 1px 1px #2ecc71,-21vw -11vh 0px 1px #2ecc71,-40vw 45vh 0px 1px #2ecc71,11vw -30vh 1px 0px #2ecc71,26vw 30vh 1px 0px #2ecc71,45vw -29vh 0px 1px #2ecc71,-2vw 18vh 0px 0px #2ecc71,-29vw -45vh 1px 0px #2ecc71,-7vw -27vh 1px 1px #2ecc71,42vw 24vh 0px 0px #2ecc71,45vw -48vh 1px 0px #2ecc71,-36vw -18vh 0px 0px #2ecc71,-44vw 13vh 0px 1px #2ecc71,36vw 16vh 0px 1px #2ecc71,40vw 24vh 0px 0px #2ecc71,18vw 11vh 0px 0px #2ecc71,-15vw -23vh 1px 0px #2ecc71,-24vw 48vh 0px 1px #2ecc71,27vw -45vh 1px 0px #2ecc71,-2vw -24vh 0px 1px #2ecc71,-15vw -28vh 0px 0px #2ecc71,-43vw 13vh 1px 0px #2ecc71,7vw 27vh 1px 0px #2ecc71,47vw 5vh 0px 0px #2ecc71,-45vw 15vh 1px 1px #2ecc71,-5vw -28vh 0px 1px #2ecc71,38vw 25vh 1px 1px #2ecc71,-39vw -1vh 1px 0px #2ecc71,5vw 0vh 1px 0px #2ecc71,49vw 13vh 0px 0px #2ecc71,48vw 10vh 0px 1px #2ecc71,19vw -28vh 0px 0px #2ecc71,4vw 7vh 0px 0px #2ecc71,21vw 21vh 1px 1px #2ecc71,-15vw -15vh 0px 1px #2ecc71,-6vw -42vh 1px 0px #2ecc71,-15vw 48vh 1px 1px #2ecc71,-23vw 25vh 1px 1px #2ecc71,-48vw 25vh 0px 1px #2ecc71,-31vw -19vh 0px 1px #2ecc71,4vw 37vh 1px 1px #2ecc71,-43vw 28vh 0px 0px #2ecc71,3vw -25vh 0px 1px #2ecc71,-39vw 14vh 0px 1px #2ecc71,-40vw 31vh 0px 1px #2ecc71,35vw -36vh 1px 1px #2ecc71,16vw 49vh 0px 0px #2ecc71,6vw 39vh 0px 0px #2ecc71,3vw -35vh 0px 1px #2ecc71,-44vw -2vh 1px 0px #2ecc71,-6vw 21vh 1px 0px #2ecc71,48vw 9vh 1px 1px #2ecc71,-43vw 30vh 1px 1px #2ecc71,29vw -12vh 1px 1px #2ecc71,-48vw 13vh 1px 0px #2ecc71,-42vw 32vh 1px 1px #2ecc71,34vw 15vh 1px 1px #2ecc71,29vw -37vh 1px 1px #2ecc71,28vw 2vh 0px 0px #2ecc71;
  animation: zoom 16s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}


/* Large devices (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .display-2 {
        font-size: 4rem; /* Adjust as needed */
    }
}

/* Medium devices (tablets, between 768px and 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .display-2 {
        font-size: 3.5rem; /* Adjust as needed */
    }
}

/* Small devices (landscape phones, between 576px and 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .display-2 {
        font-size: 2.5rem;
    }
    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
    }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) { 
    .display-2 {
        font-size: 2rem;
    }
    .btn-lg {
        padding: .3rem .8rem;
        font-size: 1rem;
    }
    .lead {
        font-size: 1rem;
    }
}

/* Add styles for the image */
img {
    max-width: 50%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}


/* Override the dark button color to green */
.btn-dark {
    background-color: #2ecc71;
    border-color: #2ecc71;
    color: #fff;
}

/* Change hover color to a bit lighter shade */
.btn-dark:hover {
    background-color: #1d6e3f; /* Adjust the color code as needed */
    border-color: #1d6e3f;
    color: #fff;
}


