.center-form {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 40px;
  color: #fff; /* Adjust the color as needed */
}

.form-control-file {
  display: block;
  width: 40%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc; /* Adjust the border color as needed */
  border-radius: 4px;
  margin: 0 auto; 
}

.styled-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #45a049;
}

.my-image-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10vh;
  margin-bottom: 10px;
}


.my-logo {
  max-width: 10%; /* Make the image responsive */
  height: auto;

}

.custom-alert {
  max-width: 500px; /* Set the desired maximum width */
  width: 100%; /* Ensure it takes full width if the content is smaller than the max-width */
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(163, 39, 39, 0.473);
  color: #fff;
}

.form-left-side {
  
}


.form-control-file {
  display: block;
  width: 40%;
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent; /* Set background color to transparent */
}

/* Additional styles to hide the default file input text */
.form-control-file::-webkit-file-upload-button {
  visibility: hidden;
}

.form-control-file::before {
  content: 'Choose File';
  display: inline-block;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: solid var(--c-gray-500);
}

.form-control-file:hover::before {
  background-color: transparent;
}
