{% extends 'base.html' %}

{% block title %}
    Admin Sign Up
{% endblock %}

{% block content %}
    <h2>Admin Sign up</h2>
    <form method="post" action="{{ url_for('auth.admin_signup') }}">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>

        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="email">Email:</label>
        <input type="text" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Sign up">
    </form>
    <p>Already have an account? <a href="{{ url_for('auth.admin_login') }}">Login</a></p>
{% endblock %}
