{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
<div class="main"></div>

<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
					<img src="{{ url_for('static', filename='images/logo.png') }}" />
				<h1 class="logo-title">
					<span>Admin</span>
					<span>Dashboard</span>
				</h1>
			</div>
		</div>

		<div class="app-header-navigation">
			<div class="tabs">
				<a href="#"></a><br>

				<a onclick="changeTab('uploads')" class="active">
					Uploads
				</a>
				<a onclick="changeTab('feedbacks')">
					Feedbacks
				</a>
				<a onclick="changeTab('admins')">
					Admins
				</a>

				<a onclick="changeTab('users')">
					Users
				</a>
				<a></a>
				</div>
		</div>
		<div class="payment-section-footer">
			<form action="{{ url_for('auth.admin_logout') }}" method="post">
			<button class="save-button">
				Logout
			</button>
		</form>
		</div>
		
	</header>

	<div class="app-body-main-content">
        <section class="service-section" id="feedbacks">
            <br><h2>Feedbacks</h2>
            <div class="mobile-only">
                <button class="flat-button">
                    Toggle search
                </button>
            </div>
            <div class="tiles">
				{% if feedbacks %}
				{% for feedback in feedbacks %}
				<article class="tile">
                    <div class="tile-header">
                        <i class="ph-lightning"></i>
                        <h3>
                            <span>{{ feedback.username }}</span>
                            <span>{{ feedback.feedback }}</span>
                        </h3>
                    </div>
                </article>
                {% endfor %}
				{% endif %}
            </div>
            
        </section>


        <section class="transfer-section active" id="uploads">
            <div class="transfer-section-header">
                <h2>Uploads</h2>
            </div>
			{% if apks %}
            <div class="transfers">
				{% for apk in apks %}
                <div class="transfer">
                    
                    <dl class="transfer-details">
                        <div>
                            <dt>{{apk.name}}</dt>
							<dd>{{apk.hash}}</dd>
                        </div>
                        <div>
                            <dt>{{apk.user}}</dt>
                        </div>
						
                    </dl>
                </div>
				{% endfor %}
			{% endif %}
        </section>

    </div>
	<br>
    <div class="app-body-sidebar">
        <section class="payment-section" id="admins">
            <h2>Admins</h2>
            <div class="payment-section-header">
            </div>

			{% if admins %}
				{% for admin in admins %}
				<div class="payments">
					<div class="payment">
						<div class="card green">
							<span>{{admin.id}}</span>
							<span>{{admin.username}}</span>
						</div>
						<div class="payment-details">
							<h3>{{admin.email}}</h3>
							<div>
								<span>{{admin.name}}</span>
							</div>
						</div>
					</div>
					<br>
				{% endfor %}
			{% endif %}
			<br>
            <div class="payment-section-footer">
				<form action="{{ url_for('auth.admin_signup') }}" method="get">
					<button class="save-button">
						Add Admin
					</button>
				</form>
            </div>
        </section>
    </div>

	<div class="app-body-sidebar">
		<section class="payment-section" id="users">
			<h2>Users</h2>
			<div class="payment-section-header">
			</div>
	
			{% if users %}
				{% for user in users %}
				<div class="payments">
					<div class="payment">
						<div class="card grey">
							<span>{{user.id}}</span>
							<span>{{user.username}}</span>
						</div>
						<div class="payment-details">
							<h3>{{user.email}}</h3>
							<div>
								<span>{{user.name}}</span>
							</div>
						</div>
					</div>
					<br>
				{% endfor %}
			{% endif %}
			<br>
		</section>
	</div>
</div>
</div>
</div>
</div>

<script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
{% endblock %}