{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">

{% endblock %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
<div class="main"></div>

<div class="app">
	<div class="card-body">
		<div class="my-image-container">
			<img class="my-logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Logo">
		</div>
		<div>
		<h1 class="logo-title">
			<span>Welcome</span>
			<span>User</span>
		</h1>
		<br>
		<form action="{{ url_for('auth.logout') }}" method="post" class="form-left-side">
			<button class="save-button">
				Logout
			</button>
		</form>
	</div>

		<form method="post" enctype="multipart/form-data" class="center-form">
			<div class="form-group">
				<label for="file" class="form-label">Upload APK</label><br>
				<input type="file" name="file" class="form-control-file">
			</div>
			<br><br>
			<button class="save-button" type="submit">
				Upload
			</button>
		</form>

		<!-- Display success or error messages here -->
		{% if message %}
			<div class="alert alert-info mt-4 custom-alert" role="alert">
				{{ message }}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
